$primary-color: #0C6D3C;
$secondary-color: #239750;

html {
    font-size: 18px;
}

// alle waarden die voor grotes zijn voor de media query zijn voor op telefoon
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 320px;
    // als de site te klein wordt komt er een horizontale scroll balk, omdat het anders het bijna onmogelijk is
}

header {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    color: #FFFDF5;
    margin-bottom: 20px;


    .phone_number {
        font-size: 19px;
        margin: 0;
    }

    .phone_section {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            width: 30px;
            height: auto;
            margin-left: 0;
        }

        .phone_number {
            font-size: 16px;
        }
    }

    img {
        border-radius: 10px;
        max-width: 150px;
        height: auto;
        margin-left: 10px;
    }

    h1 {
        font-size: 2.5rem;
    }

}

.review_container {
    padding: 30px 30px;
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 300px;
}

.review_card {
    width: 50%;
    border-radius: 20px;
    background: rgba(206, 200, 200, 0.781);
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.review_slide {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

.review_slide.active {
    display: flex;
}

.username {
    justify-self: center;
    font-weight: bold;
    grid-row: 1;
    padding-top: 20px;
}

.review_text {
    padding: 10px;
    grid-row: 2;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: $primary-color;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    justify-self: center;
}

.next {
    right: 60px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 60px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.688);
    border-radius: 5px;
}

footer {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #FFFDF5;
    margin-top: 20px;

    img {
        width: 30px;
        height: auto;
        margin-left: 0;
    }

    img.logo {
        width: 150px;
        border-radius: 10px;
        margin-left: 10px;
    }

    .phone_section {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    #open_dates {
        font-weight: bold;
    }

}



@media (max-width: 965px) {
    header {
        h1 {
            font-size: 1.5rem;
        }
    }

    .review_container {
        width: 80%;
        min-height: 250px;
    }

    .review_card {
        width: 90%;
    }

    .next {
        right: 0px;
    }

    .prev {
        left: 0px;
    }
}

@media (max-width:570px) {
    .review_container {
        width: 90%;
        min-height: 200px;
        padding: 20px 10px;
    }

    .review_card {
        width: 90%;
    }

    .next {
        right: 0px;
    }

    .prev {
        left: 0px;
    }

    .prev,
    .next {
        padding: 12px;
        font-size: 16px;
    }
}